<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>All Products</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark class="mb-2" v-on="on" v-on:click="refreshCategories">Add Product</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex >
                  <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
                </v-flex>
                <v-flex >
                  <v-text-field v-model="editedItem.price" label="Price"></v-text-field>
                </v-flex>
                <v-flex>
                  <v-select :items="categories" 
                  label="select category" 
                  item-text="name" 
                  item-value="_id"
                  attach
                  chips
                  multiple
                  v-model="editedItem.categoryId"></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="products"
      class="elevation-1"
    >
      <template v-slot:items="props">
        <td>{{ props.item.name }}</td>
        <td class="text-xs-right">{{ props.item.price }}</td>
        <td class="text-xs-right">
            <span v-for="(category, index) in props.item.categoryId" v-bind:key="index">
                <v-chip label >{{ category }}</v-chip>
            </span>
               
        </td>
        <td class="text-xs-right">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
    </v-data-table>
  </div>
</template>


<script>
  export default {
    data: () => ({
      dialog: false,
      headers: [
        {
          text: 'Name',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        { text: 'Price', value: 'price', align: 'right' },
        { text: 'CategoryIds', value: 'categoryId', align: 'right' },
        { text: 'Actions', value: 'name', sortable: false, align: 'right' }
      ],
      products: [],
      categories: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        price: 0,
        categoryId: []
      },
      defaultItem: {
        name: '',
        price: 0,
        categoryId: []
      }
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.refreshProducts()
        this.refreshCategories()
      },
      
      refreshProducts() {
        this.axios.get('http://localhost:3001/products').then(response => {
        var result = response && response.data;
        this.products = result
        });
      },
      refreshCategories() {
        this.axios.get('http://localhost:3000/categories').then(response => {
        var result = response && response.data;
        this.categories = result
        });
      },

      editItem (item) {
        this.editedIndex = this.products.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        var endPoint = 'http://localhost:3001/products/' + item._id 
        confirm('Are you sure you want to delete this item?') && this.axios.delete(endPoint, this.editedItem)
            .then(response => {
                var result = response && response.data;
                console.log('added :', result)
                this.refreshProducts()
            })
            .catch(function (error) {
                console.log(error);
            });
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          // Edit the product
          var endPoint = 'http://localhost:3001/products/' + this.editedItem._id 
          this.axios.put(endPoint, this.editedItem)
            .then(response => {
                var result = response && response.data;
                console.log('added :', result)
                this.refreshProducts()
            })
            .catch(function (error) {
                console.log(error);
            });
        } else {
          // create the product  
          console.log('editedItem :', this.editedItem)
          this.axios.post('http://localhost:3001/products', this.editedItem)
            .then(response => {
                var result = response && response.data;
                console.log('added :', result)
                this.products.push(result)
            })
            .catch(function (error) {
                console.log(error);
            });
        }
        this.close()
      }
    }
  }
</script>