<template>
  <v-container fluid grid-list-xl>
    <v-layout row wrap>
      <v-flex d-flex >
        <category-table/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      lorem: `Lorem ipsum dolor sit amet, mel at clita quando.`
    }
  }
}
</script>

<style>

</style>
